div {
    box-sizing : border-box;
  }
  body {
    margin : 0;
    
  }
  html {
    line-height : 1.15; /*기본 행간 높이*/
  }

.container{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(255,255,255,0.4)), url(../assets/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding :1px;
}

    

.page_info{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height : 300px;
    margin : 90px 10px 90px 10px;
    
    text-align: center;
}

.page_title{
    padding: 10px;

}
.page_content{

}
.btn-buy{
    background-color: rgb(237, 140, 56);
    border-radius: 5px;
    width :150px;
    height : 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
   
    
    
}
.how_design{
    background-color: beige;
    width : 80%;
    padding : 10px 20px 10px 20px;
    
    position: relative;
    top: -70px;
    left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;


}
.how_design>h1{
    text-align: center;
}

